html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  margin: 0;
  padding: 0;
}

iframe {
  width: auto;
}

.mdl-navigation {
  -webkit-flex-shrink: inherit; 
  -ms-flex-negative: inherit;
  flex-shrink: inherit;
  padding:0px !important;
  flex: auto;
}

.mdl-layout__content {
  padding:14px;
}

.mdl-layout__drawer {
width:400px;
-webkit-transform: translateX(-400px);
transform: translateX(-400px);
display:flex;
flex-direction: row;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
  margin-left: 400px;
  width: calc(100% - 400px);
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
  margin-left: 400px;
}

.mdl-layout--fixed-drawer>footer {
  margin-left: 400px;
}

@media (max-width: 1024px) {
  .mdl-layout--fixed-drawer>.mdl-layout__content {
      margin-left: 0;
  }

  .mdl-layout__drawer .mdl-layout__header {
      display: flex;
  }

  .mdl-layout--fixed-drawer>footer {
      margin-left: 0px;
  }
}

h5, h6 {
  margin: 17px 0 16px;
}
p {
  margin:0;
}

.mdl-layout__drawer{
  box-shadow: #cacaca 0px 0px 0px;
  background: #f2f2f2;
}

.mdl-layout__header {
  background:transparent;
  box-shadow: 1px 0 2px #cacaca;  
  color:black;
  .mdl-layout__drawer-button {
    color:black;
  }
}

aside {
  border-right: 1px solid #cacaca !important;
  .mdl-layout__header {
    box-shadow: 1px 0 2px #aeaeae;
  }
}

footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0px;
    border-top: solid 1px #dfdfdf;
    padding:14px;
}

.mdl-button--fab.mdl-button--colored {
  background: #f2f2f2;
  background-size: cover
}

.link-list {
  height: 100%; 
  text-align: center;
  background: #e5e2e2;
  img.logo {
      margin: 10px;
  }
}

.story-option {
  width: 100%;
  display: block;
  margin-top: 1em;
}

.topic {
  height: auto;
  min-height: 50px;
  padding: 8px;
  cursor:pointer;
  display:flex;

  button {
    margin: 0px 9px 0px 0px;
    background-size:cover !important;
  }

  a {
    text-decoration: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 1.35;
    letter-spacing: .08em;
    color:rgb(255, 134, 42)
  }

  div {
    flex: 1
  }
}

.page-content {
  max-width: 60em;
  margin: auto;
}